name: Build Kivy APK

on:
  push:
    branches:
      - main
      
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Instalar dependências do sistema
      run: |
        sudo dpkg --add-architecture i386
        sudo apt update
        sudo apt install -y \
          build-essential \
          ccache \
          git \
          libffi-dev \
          python3-dev \
          python3-pip \
          libssl-dev \
          libltdl-dev \
          zlib1g-dev \
          libncurses5:i386 libstdc++6:i386 zlib1g:i386

    - name: Instalar Buildozer
      run: |
        pip install --upgrade pip setuptools wheel
        pip install buildozer cython

    - name: Inicializar Buildozer se não existir
      run: |
        if [ ! -f buildozer.spec ]; then buildozer init; fi

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload do APK
      uses: actions/upload-artifact@v3
      
      with:
        name: app-kivy-apk
        path: bin/*.apk
